/* RecipeComponent's private CSS styles */
a {  
    text-decoration: none;
}
.container {
    padding: 40px;
}
.recipe-card {
    max-width: 400px; 
    max-height: 100px;
    margin: 5px; 
}
.columnList {
    column-count: 2;
  }
