<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div *ngIf="recipe" class="recipe-details">
        <mat-card class="border">
            <mat-card-header>
                <mat-card-title><h2>{{recipe.name | uppercase}} Recipe</h2></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image class="imgs" src={{recipe.imageUrl}} />
                <br>
                <label>Name:     
                    <input [(ngModel)]="recipe.name" placeholder="name" />
                </label>
                <br>
                <div><label>Time to make:
                    <input [(ngModel)]="recipe.makeTime" placeholder="Time to make (mins)" />
                </label> mins</div>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="goBack()">Cancel</button>
                <button (click)="save(); openSnackBar()">Save</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div *ngIf="recipe" class="ingredient-details">
        <mat-card class="border">
            <mat-card-header>
                <mat-card-title><h2>Ingredients</h2></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-ingredient-update></app-ingredient-update>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="recipe" class="step-details">
        <mat-card class="border">
            <mat-card-header>
                <mat-card-title><h2>Steps</h2></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-recipe-steps></app-recipe-steps>
            </mat-card-content>
            <mat-card-actions>
                <a routerLink="steps">
                    <button>Update Steps</button>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>