.border{
    border: 5px solid #000;
}
.container{
    display: flex;
}
.imgs{
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: center;
}
.ingredient-details{
    max-height: 100px;
    max-width: 300px;
    padding-top: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    word-break: break-word;
    flex: 0 1 calc(33.3% - 32px);
  }
  .recipe-details{
    height: 100px;
    padding-top: 300px;
    display: flex;
    justify-content: left;
    align-items: center;
    word-break: break-word;
    flex: 0 1 calc(33.3% - 32px);
  }
  .step-details{
    height: 100px;
    padding-top: 300px;
    padding-left: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    word-break: break-word;
    flex: 0 1 calc(33.3% - 32px);
  }