<div *ngIf="recipe" class="recipe-details">
    <mat-card>
        <mat-card-header>
            <mat-card-title><h2>{{recipe.name | uppercase}} Recipe</h2></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div><span>Name:   </span>{{recipe.name}}</div>
            <br>
            <div><span>Time to make:   </span>{{recipe.makeTime}} mins</div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="goBack()">Return</button>
            <a routerLink="/update/{{recipe.id}}">
                <button>Update</button>
            </a>
        </mat-card-actions>
    </mat-card>
</div>