<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div *ngIf="recipe" class="recipe-details">
        <mat-card class="border">
            <mat-card-header>
                <mat-card-title><h2>{{recipe.name | uppercase}} Recipe</h2></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img mat-card-image class="imgs" src={{recipe.imageUrl}} />
                <br>
                <div><span>Name:   </span>{{recipe.name}}</div>
                <br>
                <div><span>Time to make:   </span>{{recipe.makeTime}} mins</div>
            </mat-card-content>
            <mat-card-actions>
                <button (click)="goBack()">Return</button>
                <a routerLink="/update/{{recipe.id}}">
                    <button>Update</button>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div *ngIf="recipe" class="ingredient-details">
        <mat-card class="border">
            <mat-card-header>
                <mat-card-title><h2>Ingredients</h2></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-ingredient></app-ingredient>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="recipe" class="step-details">
        <mat-card class="border">
            <mat-card-header>
                <mat-card-title><h2>Steps</h2></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-recipe-steps></app-recipe-steps>
            </mat-card-content>
            <mat-card-actions>
                <a [routerLink]="['steps']">
                    <button>Start Recipe!</button>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<router-outlet></router-outlet>