.border{
    border: 3px solid #000;
}
.mat-form-field {
    margin-top: 16px;
}
.mat-stepper-horizontal {
    margin-top: 8px;
} 
.step-cards{
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
