<div class="step-cards">
    <mat-card class="border">
        <button (click)="goBack()">{{recipe.name}} Main Page</button>
        <br>
        <br>
        <mat-card-header>
            <mat-card-title>
                <h1>How to Make {{recipe.name | uppercase}}</h1>
            </mat-card-title>
            <mat-card-subtitle>{{currentStep.step_number}}. {{currentStep.title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{currentStep.description}}</p>
            <div *ngFor="let image of currentStep.images">
                <img src="{{image}}" />
            </div>
            <br>
            <div *ngFor="let video of currentStep.videos">
                <mat-video src="{{video}}" [preload]="true" [fullscreen]="false" [download]="false" color="accent" spinner="spin"></mat-video>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="prev()">
                Previous
            </button>
            <button (click)="next()">
                Next
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="timer-cards">
    <mat-card class="border">
        <mat-card-header>
            <mat-card-title>
                <h1>Timer</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>
                <p>{{timeLeft}} Seconds Left....</p>
            </span>
            <br>
            <mat-card>
                <mat-card-content>
                    <label> Set Timer:
                        <input #timer />
                    </label>
                    <button (click)="setTimer(timer.value)">Set</button>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
        <mat-card-actions>
            <button (click)='startTimer()'>Start Timer</button>
            <button (click)='pauseTimer()'>Pause</button>
            <button (click)='resetTimer()'>Reset</button>
        </mat-card-actions>
    </mat-card>      
</div>