/* DashboardComponent's private CSS styles */
  a {
    text-decoration: none;
  }
  .bg {
    background-image: url(https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/chorizo-mozarella-gnocchi-bake-cropped.jpg);
    
    height: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  .recent-container {
      padding: 60px;
      color: rgb(0, 0, 0);
      word-break: break-word;
  }
  .columnList {
    column-count: 4;
  }
  .add-recipe{
    height: 100px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recipe-cards {
    height: 120px;
  }
  .recipe-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
  .recipe-card {
    padding-top: 2px;
    padding-right: 40px;
  }