/* DashboardComponent's private CSS styles */
  a {
    text-decoration: none;
  }
  .recent-container {
      padding: 60px;
      color: rgb(0, 0, 0);
  }
  .columnList {
    column-count: 4;
  }
  .add-recipe{
    height: 100px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recipe-cards {
    height: 120px;
  }
  .recipe-card {
    padding-top: 2px;
    padding-right: 40px;
  }