/* DashboardComponent's private CSS styles */
  a {
    text-decoration: none;
  }
  .container {
      padding: 40px;
  }
  .columnList {
    column-count: 4;
  }
  .add-recipe{
    height: 100px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }